@font-face {
	font-family: 'Texto';
	src: url(../fonts/Texto.ttf);
}

/* FONDO DE COLOR */
body { 
	background-color: #494949
}

/* SEPARACION DEL MERCADOR */
.navbar-nav > li{
	margin-left:9px;
	margin-right:9px;
}

/* FOOTER DE PIE DE FOTO */
footer {
	text-align: center;
	padding: 5px;
	background-color: #494949;
	color: white;
}

/* BOTONES DE MERCADOR */
.btn {
	background-color: DodgerBlue;
	border: none;
	color: white;
	padding: 10px 16px;
	font-size: 14px;
	cursor: pointer;
}
  
  /* Darker background on mouse-over */
  .btn:hover {
	background-color: RoyalBlue;
}

/* FLECHA DE LOS SELECTS */
select.form-control {
	-webkit-appearance: menulist;
}

/* TITULO */
.titulo{
	font-family: 'Texto', cursive; 
	background-color: #494949;
	padding: 0.1%;
	border: none;
	opacity: 90%;
}

/* CARD-TITLE DE LOS PRODUCTOS */
.card-title{
	font-family: 'Lato', sans-serif;
    font-family: 'Rubik', sans-serif;
	font-size: 20px;
}

/* BOTONES */
.button {
	border: none;
	color: white;
	padding: 12px 42px;
	position: relative;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 145px;
	transition-duration: 0.4s;
	cursor: pointer;
}
  
.button1 {
	background-color: white; 
	color: black; 
	border: 2px solid #4CAF50;
	position: relative;
}
  
.button1:hover {
	background-color: #4CAF50;
	color: white;
	position: relative;
}

.button2 {
	background-color: white; 
	color: black; 
	border: 2px solid #4CAF50;
	position: relative;
}
  
.button2:hover {
	background-color: #4CAF50;
	color: white;
	position: relative;
}

.button3 {
	background-color: white; 
	color: black; 
	border: 2px solid #4CAF50;
	position: relative;
}
  
.button3:hover {
	background-color: #4CAF50;
	color: white;
	position: relative;
}

.button4 {
	background-color: white; 
	color: black; 
	border: 2px solid #4CAF50;
	position: relative;
}
  
.button4:hover {
	background-color: #4CAF50;
	color: white;
	position: relative;
}

.buttonp {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	position: relative;
  }
  
.buttonp {background-color: #4CAF50; position: relative;} /* Green */
/* FIN DE LOS BOTONES */
